{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}
{% block content %}
          <div class="featured-content"

            style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('{{ popular.0.movie.poster.url }}');">
            <img class="featured-title" src="{{ popular.0.movie.title }}" alt="">
            <p class="featured-desc">{{ popular.0.movie.tagline }}</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a class="featured-button" href='/{{ popular.0.movie.url }}/'>Смотреть</a>

          </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Популярное</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        {% for movie in popular %}
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="{{ movie.movie.poster.url }}" alt="">
                                <span class="movie-list-item-title">{{ movie.movie.title }}</span>
                                <p class="movie-list-item-desc">{{ movie.movie.tagline }}</p>
                                <button class="movie-list-item-button" onclick="window.location.href='/{{ movie.movie.url }}/'">Смотреть</button>
                            </div>
                            <i class="fas fa-chevron-right arrow"></i>
                        {% endfor %}
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Новинки</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">

                        {% for all in all %}
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{ all.poster.url }}" alt="">
                            <span class="movie-list-item-title">{{ all.title }}</span>
                            <p class="movie-list-item-desc">{{ all.tagline }}</p>
                            <button class="movie-list-item-button" onclick="window.location.href='/{{ all.url }}/'">Смотреть</button>
                        </div>
                        <i class="fas fa-chevron-right arrow"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="featured-content" style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('{{ popular_serial.0.movie.poster.url }}');
                background-size: contain;
                background-position: center;">
                <p class="featured-desc">{{ popular_serial.0.movie.tagline }}</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class="featured-button" href='/{{ popular_serial.0.movie.url }}/'>Смотреть</a>
            </div>


            <div class="movie-list-container">
                <h1 class="movie-list-title">Мультфильмы</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">

                        {% for cartoon in cartoon_list %}
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{ cartoon.poster.url }}" alt="">
                            <span class="movie-list-item-title">{{ cartoon.title }}</span>
                            <p class="movie-list-item-desc">{{ cartoon.tagline }}</p>
                            <button class="movie-list-item-button" onclick="window.location.href='/{{ cartoon.url }}/'">Смотреть</button>
                        </div>
                        <i class="fas fa-chevron-right arrow"></i>
                        {% endfor %}
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Сериалы</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">

                        {% for serial in serial_list %}
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{ serial.poster.url }}" alt="">
                            <span class="movie-list-item-title">{{ serial.title }}</span>
                            <p class="movie-list-item-desc">{{ serial.title }}</p>
                            <button class="movie-list-item-button" onclick="window.location.href='/{{ serial.url }}/'">Смотреть</button>
                        </div>
                        {% endfor %}
                    </div>
                        <i class="fas fa-chevron-right arrow"></i>
                        <script>

                    </script>
                </div>
            </div>
        </div>
    </div>
  </div>
 </div>
</body>
</html>
{% endblock content %}
